/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  padding-top: 50px;
  padding-bottom: 20px;
  margin: 0;
}

#viewerDiv {
  height: 480px; 
  width: 860px; 
  /*margin-top: 50px;*/
  overflow: hidden; 
  position: relative;
}

footer {
    padding-top: 50px;
}

section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
  padding-left: 10px;
  display: -webkit-flex;
}

h4, h3 {
  color: white;
}

/* ==========================================================================
   For the TERMINAL
   ========================================================================== */
      #app, div.input-area {
        height: 100%;
      }
      div#main {
          max-width: 560px;
          background: #2b303b;
          /*border-radius: 5px;*/
          height: 400px;
          -webkit-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.59);
          -moz-box-shadow:    0px 0px 13px 0px rgba(50, 50, 50, 0.59);
          box-shadow:         0px 0px 13px 0px rgba(50, 50, 50, 0.59);
          overflow: hidden;
      }
      .holder {
          overflow: auto;
      }
      .prompt {
        color: #d28445;
      }
      input[type=text], input[type=text]:focus {
        border: none;
        padding: 0; 
        margin: 0;
        height: 22px;
        background: #2b303b;
        color: #ebcb8b;
        width: 80%;
      }
      p { 
        margin-bottom: 0;
        line-height: 21px;
      }

      #content {
        padding: 20px;
        height: 100%;
      }

      div > .tcontainer {
        font-family: 'Inconsolata', monospace;
        font-size: 14px;
        color: #dfe1e8;
        background: #343d46;
      }

      .tcontainer{
        

      }
      
/* ==========================================================================
   Button
   ========================================================================== */
   .button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #2b303b;
  border: none;

  box-shadow: 0 9px #999;
}

.button:hover {background-color: #343d46}

.button:active {
  background-color: #343d46;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}